.admin_response{
    padding:16px;
       background-color:rgb(169, 189, 209,0.8);
       height:100vh;
       width:100%;
       font-family: bold;
       justify-content: center;
       position: relative;
}
.admin_response h1{
    margin-top: 100px;
    display:block;
    text-align: center;
    margin-bottom:30px;
    background-color:rgb(123, 145, 167);
    height: 65px;
    padding-top: 10px;
}