.Resolutionfeedback{
       padding:16px;
     background-color:rgb(169, 189, 209,0.8);
       background: linear-gradient(135deg, #a7c9ff, #d2e8ff);

    height:200vh;
    width: 100%;
    font-family:bold ;
    justify-content:center;
    /* margin-top: 200px; */
    position: relative;
      min-height: 100vh;
height: auto;
}
.Resolutionfeedback h1{
      margin-top: 100px;
         display: block;
  text-align: center;
  margin-bottom: 30px;;
   background-color:rgb(123, 145, 167);
       background: linear-gradient(135deg, #1e3a59, #3f5c87);
color:white;
   height:65px;
   padding-top:10px;

}
.response1 p{
    margin-top: 10px;;
}
.response  h2{
  display: block;
  /* margin-bottom: 20px;; */
  /* margin-left: 30px;; */
  /* margin-top: 20px;; */
/* margin-left: 200px; */
justify-content: center;
align-items: center;
text-align: center;
  font-size: 28px;
  background: #1e3a59;
  color: white;
  padding: 14px 20px;
 
}
.response{
font-size:20px;;
/* margin-left: 30px;; */
margin-bottom: 20px;;
margin-top: 10px;
}
.response{
   width:70%;
   background-color: white;
   margin-left:200px;
  top:130px;
  font-size: 20px;
  /* border:2px solid black; */
   background-color:rgba(255,255,255,0.7);
   padding:20px;


}
.response1 button{
   margin-top: 20px;
   height:30px;;
   width:50%;
     background: linear-gradient(135deg, #4a6fa1, #1e3a59);
        height:50px;
        width:30%;
        color: white;

}