.notice_details{
       padding:16px;
     background-color:rgb(169, 189, 209,0.8);
        background: linear-gradient(135deg, #a7c9ff, #d2e8ff); 

    height:330vh;
    width: 100%;
    font-family:bold ;
    justify-content:center;
    /* margin-top: 200px; */
    position: relative;
      min-height: 100vh;
height: auto;
}
.notice_details h1{
      margin-top: 100px;
         display: block;
  text-align: center;
  margin-bottom: 30px;;
   background-color:rgb(123, 145, 167);
             background: linear-gradient(135deg, #1e3a59, #3f5c87);
color: white;
   height:65px;
   padding-top:10px;

}
.notice_details_box p{
    margin-top: 10px;;
}
.notice_details_box h2{
            display: block;
 font-size: 30px;
   background: #1e3a59;   /* Added beautiful dark blue */
    color: white;
    /* font-weight: 600; */
    padding: 14px 18px;
  margin-bottom: 20px;;
 
  /* margin-left: 30px;; */
  margin-top: 30px;;
 
}
.noticeDetails_complaint_info,
.admin_actions_box{
font-size:20px;;
margin-left: 30px;;
margin-bottom: 100px;;
margin-top: 30px;
}
.notice_details_box,
.admin_actions,
.admin_previous_actions{
       width:70%;
    
    background-color: white;
    margin-left:200px;
 
  top:130px;
  
  font-size: 20px;
  /* border:2px solid black; */
   background-color:rgba(255,255,255,0.7);

}
.NoticeDetails_feedback_btn,
.NoticeDetails_handle_btn{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-family: bold;
  margin-right: 10px;;
      height: 50px;
      width: 30%;

  background-color: rgba(14, 32, 56, 0.8);
  color: white;

}