.admin2_navbar {
  align-items: center;
  height:90px;
  width: 100%;
  background-color:#0e2038;
  background: linear-gradient(135deg, #00BFFF,#003366, #003366);
  position:fixed;
    font-weight: 100;
    /* position:relative; */
     font-family:bold;
     display: flex;
     align-items: center;
     gap:100px;
     /* opacity: 0.9; */
     z-index: 1000;
  
}
.admin2_nav_title h2{
  /* padding-top:5px; */
    font-size:35px;
    color:white;
    /* position: absolute; */
    /* top:120px; */
    /* left: 30px; */
    opacity: 0.8;
    margin-left: 25px;;


}
.admin2_nav_title p{
  /* padding-top: 3px;; */
  /* padding-left: 10px; */
    font-size: 16px;
    color:white;
    opacity: 0.8;
    margin-left: 25px;;
  
}
.admin2_nav_link{
  
  gap:50px;
  display:flex;
  align-items: center;
padding-left:120px;
margin-left:500px; ;

}
.admin2_nav_link a{

  color:rgb(255,255,255 ,0.6);
   text-decoration: none;
   /* opacity: 0.7; */
     font-weight: bold;
  font-size: 21px;
}
.admin2_nav_link a:hover{

  color:white;
  opacity: 0.9;;
  /* text-decoration: underline; */
}
.admin2_nav_link button{
  
  width:130px;
   background-color:rgb(255,255,255,0.5);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border:none;
  color:black;
  margin-left:60px;
  
  /* opacity: 0.8; */
  font-size:20px;
  /* color:white; */
  height: 55px;
  border-radius:15px;
  border:none;
  font-family: bold;
  /* margin-top:10px; */


  opacity: 0.8;



}
.admin2_nav_link button:hover{
/* background-color: white;*/
   background-color:rgb(255,255,255 );
   /* text-decoration:double; */


}