.pendingComplaint{
       padding:16px;
     /* background-color:rgb(169, 189, 209,0.8); */
  background: linear-gradient(135deg, #a7c9ff, #d2e8ff);

    /* height:200vh; */
    width: 100%;
      min-height: 100vh;
height: auto;
    font-family:bold ;
    justify-content:center;
    /* margin-top: 200px; */
    position: relative;
}
.pendingComplaint h1{
      margin-top: 100px;
         display: block;
  text-align: center;
  margin-bottom: 30px;;
   background-color:rgb(123, 145, 167);
    background: linear-gradient(135deg, #1e3a59, #3f5c87);
  color: white;
   height:65px;
   padding-top:10px;
     padding: 14px 30px;


}
.pending_cmp p{
    margin-top: 10px;;
}

.admin2_actions_pending h2,
.pending_cmp h2{
            display: block;

  margin-bottom: 20px;;
 
  /* margin-left: 30px;; */
  margin-top: 20px;;
  
   font-size: 28px;
  background: #1e3a59;
  color: white;
  padding: 14px 20px;
}
.admin2_actions_box_pending,
.pending_cmp_details{
font-size:20px;
margin-left: 30px;;
margin-bottom: 100px;;

}
.pending_cmp
,.admin2_actions_pending{
       width:70%;
    
    background-color: white;
    margin-left:200px;
 
  top:130px;
  
  font-size: 20px;
  border:2px solid black;
   background-color:rgba(255,255,255,0.7);

}

.admin2_actions_pending{
    margin-top: 20px;
}
.admin2_actions_box_pending select{
    margin-top: 10px;;
    margin-bottom: 10px;;
    margin-left: 10px;;
    font-size: 20px;;
    font-family: bold;
}
/* .admin2_resolve_btn{ */
.admin2_actions_box_pending button{
    margin-top:20px;;
    margin-bottom: 10px;;
    /* margin-left: 10px;; */
    font-size: 20px;;
    font-family: bold;
        background: linear-gradient(135deg, #4a6fa1, #1e3a59);
        height:50px;
        width:30%;
        color:white

}
.admin2_actions_box_pending textarea {
margin-top:15px;
width:80%;
height:70px;
font-size:17px;
}
.admin_previous_actions_pending{
    margin-top:20px;
}
.admin_previous_actions_pending button{
        margin-top: 10px;;
    margin-bottom: 10px;;
    margin-left:30px;;
    font-size: 20px;;
    font-family: bold;

}
.pending_admin_response1{
    margin-left: 20px;;
    margin-bottom: 20px;;
    margin-top: 20px;

}
