.complaint{
height:180vh;; 
width:100%;
/* text-align: center; */
align-items: center;
 /* background-color:rgb(169, 189, 209,0.8);; */
   background: linear-gradient(135deg, #a7c9ff, #d2e8ff);

 position:relative;
 color:black;
   /* min-height: 100vh; */
/* height: auto; */
}

.complaint-form{
  position:absolute;
  top:130px;
  margin-left:350px;;
  font-family: bold;
  font-size: 20px;
   background-color:rgba(255,255,255,.2);
}
.complaint-form h1{
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;;
    background: #1e3a59;   /* ⭐ Added beautiful dark blue */
    color: white;
    /* font-weight: 600; */
    padding: 14px 18px;

}
.complaint-form  form h2{
  margin-top: 30px;
  margin-left: 30px;;
}
.complaint-form form {
  height:1150px;
  width:800px;
  border:3px solid black;
       font-family:bold;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     font-size:17px;
   /* background-color:rgb(169, 189, 209,0.5);; */


}
.com-section1 {
  display: flex;
  justify-content: space-evenly; /* or space-evenly / flex-start */
  gap: 2rem; /* adjust spacing between fields */
  margin-top: 20px;
  font-size: 20px;;
  height: 100x;;
  /* background-color:aqua; */
}
.com-section1 input{
  height: 30px;
  width:200px;
     background-color:rgba(255,255,255,.6);
     font-size: 18px;;
     font-family: bold;

}
.com-section1 p{
  margin-bottom: 10px;;
}
.com-section2 p{
  margin-bottom: 10px;;
}

.form-s1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.com-section2{
  font-size: 20px;;
  height: 300px;;
}
.form-address{
  height: 30px;
  width:200px;
      font-size: 18px;;
      
     font-family: bold;
}
.form-address select{
  height: 30px;
  width:200px;
      font-size: 18px;;
     font-family: bold;
     background-color:rgba(255,255,255,.6);

}
.add-discription{
  /* margin-top:10px; */
   /* display: flex; */
   margin-left: 33px;;
   /* gap: 30px;  */

}
.com-section2 textarea{
  font-size: 18px;
  font-family: bold;
width:260px;
height: 50px;;
   
   background-color:rgba(255,255,255,.6);
}

.com-section3 {
  /* display: flex; */
  /* justify-content: space-evenly;  */
  /* gap: 2rem; adjust spacing between fields */
  margin-top: 20px;
  font-size: 20px;;
  height: 350px;;
  margin-left: 33px;;
  /* background-color:aqua; */
}
.com-add{

   display: flex;
  justify-content: space-evenly; /* or space-evenly / flex-start */
  gap: 2rem; /* adjust spacing between fields */
  margin-top: 20px;
  font-size: 20px;;
  height: 100px;;
}
.com-add1{
  display: flex;
  /* justify-content: space-evenly; or space-evenly / flex-start */
  gap: 4.5rem; /* adjust spacing between fields */
  margin-top: 20px;
  font-size: 20px;;
  height: 100px;;
  margin-left: 33px;;
}
.com-section2 input{
  height: 30px;
  width:200px;
    font-size: 18px;;
     font-family: bold;
  
 background-color:rgba(255,255,255,.6);
}
.com-section2 p{
    margin-bottom: 10px;;

}
.com-section3 p{
  margin-bottom: 10px;;
}
.com-section3 select{
    height: 30px;
  width:250px;
     background-color:rgba(255,255,255,0.6);
         font-size: 18px;;
     font-family: bold;
}
.priority-group{
   margin-top: 30px;
   display: flex;
   gap: 30px;
}

.com-discription{
  margin-top: 30px;
   /* display: flex; */
   gap: 30px; 
   
}
.com-section3 textarea{
  font-size: 17px;
  font-family: bold;
    width: 90%;
       background-color:rgba(255,255,255,0.6);
           font-size: 18px;;
     font-family: bold;
}

.com-section4{
  height: 100px;;
  display: flex;
  display: flex;
  
  /* margin-top: 30px; */
  font-size: 20px;;
  height: 100x;;
}
.com-section4 button{
    height:50px;
  width: 35%;;
    display: block;
  text-align: center;
  margin-left:230px;;
  border-radius:6px ;
  margin-bottom: 20px;;


  /* background-color:rgb(14, 32, 56,0.8);
color: white; */
 background: linear-gradient(135deg, #4a6fa1, #1e3a59);
  color: white;
font-size: 20px;;
font-family: bold;
}
.com-section4 button:hover{
  
  /* background-color:rgb(14, 32, 56);
color: white; */
  background: linear-gradient(135deg, #5f8ac4, #254b74);
  transform: translateY(-2px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.38);
}
/* === Priority Radio Styling === */

/* Remove browser default look */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  cursor: not-allowed; /* since disabled */
  margin-right: 6px;
  position: relative;
}

/* Checked state → circle fills */
input[type="radio"]:checked {
  border: 6px solid currentColor;
}

/* High Priority = Red */
input[type="radio"][value="high"]:checked {
  color:black;
}
/* Low Priority = Green */
input[type="radio"][value="low"]:checked {
  color: black;
}

/* Label styling (optional) */
label {
  font-weight: 500;
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}




