/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  align-items: center;
position:fixed;
  height:80px;
  width: 100%;
   background: linear-gradient(135deg, #00BFFF,#003366, #003366);
  z-index:1000;
   
}



/* Nav links */
#navlink {
  display: flex;
  /* margin-right: 10px; */
  align-items:center ;

  gap:100px;
  margin-left:1000px;
  /* margin-right:10px;  */

  
}

/* Individual links */
#navlink a {
  /* color: white; */
  font-family: bold;
    color:rgb(255,255,255,0.6);
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  transition: color 0.3s ease;
  /* justify-content: space-evenly; */
  
}

#navlink a:hover {

  color:rgb(255,255,255);
}



#navlink button{
  width:150px;
   background-color:rgb(255,255,255,0.5);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border:none;
  color:black;
  
  /* opacity: 0.8; */
  font-size:20px;
  /* color:white; */
  height:60px;
  border-radius:15px;
  border:none;
  font-family: bold;
  margin-top:10px;
} 

#navlink button:hover{
/* background-color: white;*/
   background-color:rgb(255,255,255,0.7 );
}